#[link(name = "basics",
       vers = "0.1",
       uuid = "f65249c2-050d-11e2-83cd-001422476fdd",
       url = "http://www.angry-lawyer.com/")];

#[comment = "SDL Tutorials - Basics"];
#[license = "MIT"];

extern mod std;

//mod basics;
